.wallet-main{
    height: 100%;
    overflow: auto;
}
.total-amount-main-direct{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 50px;
}
.flex-cards-wallet-com{
    /* margin: 50px; */
}
.flex-cards-wallet-levels{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.wallet-total-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wallet-box-head{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.wallet-box-head-main{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}
.wallet-box{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.invoice-list{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.wallet-invoice{
   width: 450px;
   height: 40vh;
   background: #fff;
   /* margin: 15px; */
   border-radius: 10px;
   padding: 20px;

}
.wallet-invoice-table{
    width: 400px;
    text-align: left;
}
.wallet-invoice-table tbody{
    
}
.history-records{
    width: 450px;
    height: 40vh;
    background: #fff;
    /* margin: 15px; */
    border-radius: 10px;
    padding: 20px;
}
.wallet-history-table{
    width: 400px;
    text-align: left;
}