.InvoiceStatment{
    width: 2480px;
    background: black;
    margin: 10px;
}
.InS-header{
background: yellow;
width: 100%;
height: 200px;
display: flex;
justify-content: center;
}
.InS-logo{
height: 200px;

}
.InS-logo img{
    height: 100%;

}
.InS-content{

}
.InS-Body{

}
.InS-Body table{
    width: 100%;
    margin: 0px;
}
