.invoice-1-2Pn-archv {
  /* width: 230mm;
  height: 270mm; */

  padding: 0;
  font-size: 12pt;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    } */
.invoice-1-2Pn .auto-group-z6we-Z8p {
  width: 230mm;
  min-height: 270mm;
  margin: 20px;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.frame-3608-zjv-archv {
  /* padding: 1cm; */

  /* height: 325mm; */
  background: white;
  /* margin: 10px; */
  padding: 0;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  .auto-group-z6we-Z8p {
    width: 210mm;
    height: 325mm;
  }
  .auto-group-z6we-Z8p {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.secnd-comp-in-archv {
  width: 100%;
  /* height: 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.secnd-comp-in-archv img {
  height: 50px;
}
.secnd-comp-in-head-archv {
  /* margin-left: 5.5rem; */
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #e77117;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.secnd-comp-in-head-sec {
  margin-left: 13%;
  /* margin-top: 0.2rem; */
  width: 10rem;
  height: 2.2rem;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9c51;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.sec-detl-comp {
  margin-top: 25px;
  /* width: 400px; */
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 9.9rem;
  /* padding-left: 30px; */
}
.info-sec-col-archv {
  box-sizing: border-box;
  padding-bottom: 1.8rem;
  width: 9.1rem;
  height: 100%;
  flex-shrink: 0;
}
.hff {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: #5e6470;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.info-name-sec-col {
  margin: 0rem 1.5rem 0em 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 200px;
  /* position: relative; */
  margin-bottom: 15px;
}
.hrr {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #191c21;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.tcs {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #191c21;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  /* margin-bottom: 15px; */
  margin-bottom: 25px;
}
.info-inv-thrd {
  margin-right: 6rem;
  width: 7.4rem;
  flex-shrink: 0;
  /* margin-bottom: 20px */
  /* margin-top: 10px; */
  margin-bottom: 18px;
}
.hfc {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: #5e6470;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.tcss {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: #5e6470;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.info-inv-frth {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* margin-bottom: 63px; */
  margin-bottom: 40px;
}
.val-sec {
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #e77117;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.last-comp {
  display: flex;
  margin-top: 2vh;
  margin-left: 30px;
  margin-right: 50px;
  justify-content: space-between;
}
.hfff {
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: #5e6470;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  border: 1px solid #b8b7b7f5;
}
.hfcc {
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: #191c21;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  border: 1px solid #b8b7b7f5;
}
.last-comp-info {
  display: flex;
  margin-top: 2vh;
  margin-left: 30px;
  margin-right: 50px;
  justify-content: space-between;
}
.last-comp-info-last {
  margin-top: 3%;
  display: flex;
  margin-left: 30px;
  margin-right: 50px;
  justify-content: space-between;
  align-items: center;
}
.hccc {
  width: 213px;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #191c21;
  white-space: nowrap;
  flex-shrink: 0;
}
.hcccf {
  padding-top: 1vh;
  text-align: center;
  width: 230px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: #191c21;
  margin-top: 10px;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  border-top: 2px solid;
}
.secnd-comp-inter {
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;

  padding-top: 5vh;
  padding-bottom: 5vh;
}

.cut {
  width: 100%;
  border: dotted #ff9c51 2px;
  margin-top: 4%;
}
.sig {
  width: 100px;
}
.sign {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.invoice-table {
  width: 95%;
  margin: 6mm;
}
.invoice-table th {
  background: #ba884f !important;
  color: #fff !important;
  border: 1px solid #000;
}
.invoice-table td {
  background: #fff !important;
  color: #000;
  border: 1px solid #000;
}
.file-address {
  width: 100px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-weight: normal !important;
}
.fileaddressfield {
  position: relative;
  bottom: 22px;
}
.fileaddressfield span {
  font-weight: bold;
  font-size: 13px;
}
.file-address-heading {
  margin-right: 13.6%;
}
.print-file-footer {
  position: relative;
  /* position: absolute; */
  top: 150px;
}
.secnd-comp-in img {
  height: 30px;
}
.secnd-comp-inter img {
  height: 30px;
}
.file-footer-left {
  font-size: 11px;
}
