.upper-sec-detail {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.upper-sec-detail-flex {
  display: flex;
  flex-direction: column;
}
.upper-sec-detail-flex img {
  height: auto;
  width: 400px;
  margin-bottom: 30px;
}
.info-details {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}
.info-details-col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-details-col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-finance-pay img {
  height: 150px;
}
.heading-pay-2 {
  border: 2px solid grey;
  margin: 20px 20px 0px 20px;
  display: flex;
  justify-content: center;

  h4 {
    color: black;
  }
}
.info-details-col3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-details-col3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.des-col-3-slip {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: #f7edb3;
  margin: 0px 20px 20px 20px;
}
.col-3flex {
  display: flex;
  gap: 20px;
}
.column3-finance-slip h5 {
  background-color: #f1a949;
  height: 40px;
  margin: 3px 20px 0px 20px;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.des-col-4-slip {
  padding: 20px;
  display: flex;
  gap: 20px;
  background: #f7edb3;
  margin: 0px 20px 20px 20px;
  justify-content: space-between;
}
.des-col-4-sec-1 {
  display: flex;
  gap: 20px;
}
.des-col-4-iner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.des-col-4-iner2 {
  display: flex;
  flex-direction: column;
}
.des-col-4-sec-2 {
  display: flex;
  gap: 20px;
  height: 100px;
  align-items: flex-end;
}
.des-col-4-iner4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
}
.des-col-4-iner5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.des-col-5-slip {
  margin: 0px 20px 20px 20px;
}

.col-5-slip-head {
  background: linear-gradient(90deg, white 40%, #f1a949 0, #f1a949 100%);
  display: flex;
  margin: 0px;
  padding: 0px 40px 0px 10px;
  justify-content: flex-end;
  gap: 220px;

  h1 {
    background: none;
    font-size: 20px;
    height: auto;
    line-height: 30px;
  }
}
.inner-slip-col-5 {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: flex-end;
  gap: 170px;
}
.innerslip-col-5 {
  display: flex;
  gap: 20px;
}
.inner-slip-5-col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inner-slip-5-collast {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inner-slip-5-colend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* .inner-slip-col2 {
  padding-right: 70px;
} */
/* .inner-slip-col2-end {
  padding-right: 30px;
} */
.scndlast-col-payslip {
  display: flex;
  margin: 0px 20px 0px 0px;
}
.blank {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.subtotal-pay {
  display: flex;
  width: 50%;
  justify-content: space-around;
  background: #f1a949;
}
.last-col-payslip {
  display: flex;
  margin: 0px 20px 0px 0px;
}
.Net-Salary {
  display: flex;
  width: 50%;
  justify-content: space-around;
  background: #f1a949;
}
.sig-underline {
  border-bottom: 4px solid grey;
  width: 300px;
  h4 {
    font-size: 14px;
  }
}
.slip-finance-signature {
  position: relative;
  position: relative;
  top: 200px;
  margin: 20px;
}
