@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');

.webpage {
  width: 230mm;
  height: 270mm;
  margin: 0 auto;
  padding: 0;
  font-size: 12pt;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.main-page {
  width: 230mm;
  min-height: 310mm;
  /* margin: 10mm auto; */
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.sub-page {
  /* padding: 1cm; */

  height: 325mm;
  background: white;
  margin: 0;
  padding: 0;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  .main-page {
    width: 210mm;
    height: 310mm;
  }
  .main-page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
.top-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.top-head > h1 {
  color: #a4243b;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.48px;
  line-height: 40px;
  width: 550px;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  
}
.top-sec-cont {
  width: 250px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #f4b266;
  justify-content: center;
  display: flex;
  align-items: center;
}
.top-sec-cont > h3 {
  color: #fff;

  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.33px;
}
.top-thrd-cont {
  color: #a4243b;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top-thrd-cont > span {
  color: #a4243b;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}
.sec-section {
  width: 770px;
  flex-shrink: 0;
  margin: 50px;
}
.head-content {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}
.sec-section-last {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.sec-section-last > span {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.top-sec-heading {
  width: 770px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #a4243b;
  justify-content: center;
  display: flex;
  align-items: center;
}
.top-sec-heading > h3 {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}
.sectop-section-content {
  display: flex;
  justify-content: space-between;
}
.sectop-right {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.sectop-row {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.sectop-row > .column-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
}
.sectop-row > .column-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
}
.sectop-right > .column-3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
}
.sectop-right > .column-4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Open Sans', sans-serif;

  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}
.columnfrth-sec {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
}

.columnfrth-sec > .column-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}
.chckbox-flex {
  display: flex;
}
.sectop-right-last {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.sectop-right-last > .column-7 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: flex-start;
}
.sectop-right-last > .column-8 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
}
.underline-1 {
  text-decoration: underline;

  text-decoration-color: black;
}
.sectop-right-last > .column-7 > h3 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  align-items: flex-start;
}
.sectop-right-last > .column-8 > h3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  align-items: flex-start;
}
.top-last-heading {
  width: 770px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #a4243b;
  justify-content: center;
  display: flex;
  align-items: center;
}

.last-text-content {
  margin-top: 10px;
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
}
.last-text-content > span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.signatures-text {
  margin-top: 30px;
  width: 134px;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  flex-shrink: 0;
  border-radius: 1px;
  background: #f4b266;
  justify-content: center;
  display: flex;
  align-items: center;
  display: none;
}
.signatures-text > h3 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.33px;
}
.signature-area {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}
.signature-area > h3 {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  letter-spacing: 0.33px;
  color: #a4243b;
  border-top: 2px solid #a4243b;
  width: 160px;
  display: flex;
  justify-content: center;
}

.imgtop > img {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}
.head-top-cont {
  display: flex;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  justify-content: space-between;
  margin-top: 70px;
}
.head-top-cont > .top-p-fle {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
.sectop-right-33 > .column-33 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}
.sectop-right-33 > .column-44 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  align-items: flex-start;
}
.sectop-right-33 {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.sectop-right-44 > .column-333 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}
.sectop-right-44 > .column-444 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}
.sectop-right-44 {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
