.button-viewwww{
    background: #a4243b;
    color: #ffffff;
    width:100px;
    border-radius: 6px;
    padding: 3px;
    margin-left: 3px
}
.button-viewwwer{
    background: #a4243b;
    color: #ffffff;
    width:80px;
    border-radius: 6px;
    padding: 3px;
    margin-left: 3px
}