*{
  font-family: "Plus Jakarta Sans";
}
.Plot-box {
  background: white;
  color: black;
  margin: 20px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}
.Plot-box>h1{
  color:#1A202C;
font-family: "Plus Jakarta Sans";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.96px;
}
.head-plot {
  display: flex;
}
.avatr-image {
  /* background: white; */
  border-radius: 10px;
  margin: 20px;
  width: 30%;
  align-items: center;
}
.avatr-image > img {
  padding: 25% 20%;
}
.column {
 
  text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column > button {
  margin: 50px 25px 0 25px;
  width: 14%;
  height: 7vh;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.red-color {
  background: #a4243b;
}
.red-color:hover {
  background: #f4b266;
}
.yellow-color {
  background: #f4b266;
}
.yellow-color:hover {
  background: #a4243b;
}
.transaction-box {
  color: black;
  background: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 30%;
}
.transaction-box>h1{
  color:#1A202C;
font-family: "Plus Jakarta Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.4px;
}
.first {
  color: #90a3bf;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: -0.4;
}
/* .transaction-heading {
} */
.second {
  font-weight: 700;
  color: #596780;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  padding-right: 20px;
  letter-spacing: -0.4px;
}
.bottom-part-plot {
  display: flex;
}
.comment-box {
  background: white;
  color: black;
  width: 65%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.comment-box>h1{
  color: #1A202C;
font-family: "Plus Jakarta Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.4px;
}
.comment-box-top {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.img-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.transaction-row {
  display: flex;
  justify-content: space-between;
}
.transaction-main {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}
.transaction-main:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #90a3bf;

}
