.butn-viewer{
    display: flex;
    flex-direction: row;;
    width: 75%;
    justify-content: flex-end;
}
.Admin-Home-invoice{
    height: 100%;
}
.head-head th{
    width: 173px;
    height: 35px;
    text-align: center;
}
.head-head td{
    /* width: 173px; */
    height: 35px;

}
.button-invoice{
    border-radius: 6px;
}
.head-head{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    text-align: center;
  }
  .hed>th{
   color: white;
  }
  
  