* {
  font-family: "PT Sans", sans-serif;
}
.Plot-box {
  background: white;
  color: black;
  margin: 1rem;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.Plot-box > h1 {
  color: #1a202c;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
}
.head-plot {
  display: flex;
}
.avatr-image {
  /* background: white; */
  border-radius: 10px;
  width: 30%;
  align-items: center;
}
.avatr-image > img {
  padding: 3rem 1.5rem;
}
.column {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.column > button {
  margin: 20px 25px 0 25px;
  width: 14%;
  height: 7vh;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.red-color {
  background: #a4243b;
}
.red-color:hover {
  background: #f4b266;
}
.yellow-color {
  background: #f4b266;
}
.yellow-color:hover {
  background: #a4243b;
}
.transaction-box {
  color: black;
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  margin: 0 1rem;
}
.transaction-box > h1 {
  color: #1a202c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}
.first {
  color: #90a3bf;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: -0.4;
}
/* .transaction-heading {
} */
.second {
  font-weight: 700;
  color: #596780;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  padding-right: 20px;
  letter-spacing: -0.4px;
}
.bottom-part-plot {
  display: flex;
}
.comment-box {
  background: white;
  color: black;
  width: 65%;
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 0 0.3rem;
}
.comment-box > h1 {
  color: #1a202c;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}
.comment-box-top {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.img-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.name-cat > .comntbox-h2 {
  color: #1a202c;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
}
.box-bg{
  border-radius: 2px !important;
  margin: 1rem 0 !important;
  height: 6rem;
  overflow: auto;
}
.name-cat > .comntbox-span {
  color: #90a3bf;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}
.coment-desc {
  color: #596780;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: -0.28px;
  padding-left: 70px;
}
.comment-box > h1 > span {
  width: 44px;
  height: 28px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  background: #f4b266;
}
.comntbox-date {
  color: #90a3bf;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}
/* .comntbox-date:hover{
  color: black;
} */
.img-name > .img-commnt {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.transaction-row {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  font-size: 13px;
}
.transaction-row > .trans-id {
  color: #1a202c;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}
.transaction-main {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
  line-height: 20px;
  /* margin: 5px; */
  border-radius: 2px;
  height: 7rem;
  overflow: auto;
}
.transaction-main:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #f4b266;
}
@media (Max-width: 728px) {
  .head-plot{
    flex-direction: column;
  }
  .avatr-image > img {
    padding: 3rem 4.5rem;
}
.Plot-box{
  width: 25rem;
  margin: 10px;
}
.data-client {
  gap: 60px;
  overflow: auto;
}
.column > button {
  width: auto;
  height: auto;
}
.column{
  justify-content: center;
}
.bottom-part-plot {
  flex-direction: column;
}
.transaction-box {
  width: 25rem;
  margin: 10px;
}
.comment-box {
  width: 25rem;
  margin: 10px;
}
  
}