
.avatar-image {
  display: flex;
  align-items: center;
  justify-content: start;
  
}
.avatar-table {
  width: 25px;
  border-radius: 100%;
}
.button-view {
  background: #a4243b;
  color: #ffffff;
  width: 60px;
  border-radius: 6px;
  padding: 3px;
  margin-left: 3px;
}
.hero--head {
  background: #a4243b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 12vh;
}
.admin-show{
  display: none;
}
.hero--head h1 {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-left: 3vw;
}
.hero--head button {
  display: flex;
  width: 127px;
  height: 44px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: var(--Compressed, 8px);
  flex-direction: row-reverse;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f4b266;
  margin-right: 3vw;
}
.hero--head button:hover {
  background: #f4b266;
}
.hero--head img {
  background: #f4b266;
}

.tddr > p {
  color: white;
  background: black;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
}

.avatar-image {
  align-items: center;
}

.avatar-table {
  width: 35px;
  margin: 5px;
}
.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  /* background: #4FC3A1; */
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  /* background: #324960; */
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}
thead{
  background:#A4243B; ;
}
tbody{
  background: #F4B266;
}
.calender{
  /* background: #fff; */
  /* background: #fff; */
  border: 1px solid #000;
  border-radius: 5px;
  height: 40px;
  margin: 20px 70px 0px 0px;
  cursor: pointer;
  
}
.alignment-cal-serch{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}



/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
  .hero--head{
    width: 90vw;
  }
  .hero--head button{
    width: 100px;
    padding: 0px;
  }
}
