.ClientDetails {
  color: black;
  margin: 20px;
  h1 {
    margin: 0px;
  }
}
.info-box {
  display: flex;
}
.client-pic {
  width: 35%;
  background: #fff;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}
.clients-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.clients-buttons button {
  background: #a5a5a5;
  width: 80px;
  height: 80px;
}
.clients-buttons button img {
  height: 50%;
}
.info-box-2 {
  width: 65%;
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.documents {
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 20px 50px;
}
.doc-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 20px;
  background: #f6f8f9;
  border-radius: 10px;
  height: 60px;
}
.plots {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  background: #ffffffaf;
}
.plot-cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  background: #fff;
  padding: 10px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}
.plot-des {
  margin: 20px;
  background: gray;
  height: 50px;
}

.view-more {
}
.view-more > button {
  background: #f4b266;
  width: 100%;
  height: 8vh;
}
.add-plot {
  text-align: center;
}
.add-plot > button {
  width: 20vw;
  height: 10vh;
  background: #f4b266;
}
.row-start {
  display: flex;
  align-items: center;

  h2 {
    margin: 0px;
  }
}
