.ClientDetails {
  color: black;
  margin: 20px;
  h1 {
    margin: 0px;
  }
}
.info-box {
  display: flex;
}
.client-pic {
  width: 35%;
  background: #fff;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}
.clients-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.clients-buttons button {
  background: #a5a5a5;
  width: 80px;
  height: 80px;
}
.clients-buttons button img {
  height: 100%;
}
.button-pair{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.button-pair> p{
  color: black;
  background: #A4243B;
}
.button-pair> button{
  width: 100%;
  height: 30px;
  gap: 20px;
  background: #F4B266;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.button-pair>button:hover{
  background: #F4B266;
}
.info-box-2 {
  width: 65%;
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}
.row {
  display: flex;
  /* justify-content: space-evenly; */
  text-align: start;
  gap: 200px;
}
.row>h2> span{
  color: gray;
  font-size: 20px;
  font-weight: 500;

}
.client-pic-detail{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.documents {
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 20px 50px;
}
.doc-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 20px;
  background: #f6f8f9;
  border-radius: 10px;
  height: 60px;
}
.plots {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  background: #ffffffaf;
}
.plot-cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  background:#F4B266 ;
  padding: 10px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  
}
.plot-des {
  margin: 20px;
  background: gray;
  height: 50px;
}

/* .view-more {
} */
.view-more > button {
  background: #A4243B;
  width: 100%;
  height: 6vh;
  color: var(--Primary-0, #FFF);
text-align: center;
/* Semibold/Type@16 */

font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
/* margin-left: 8vw; */
padding:0px;
}
.add-plot {
  text-align: center;
}
.add-plot > button {
  width: 20vw;
  height: 10vh;
  background: #f4b266;
}
.row-start {
  display: flex;
  align-items: center;

  /* h2 {
    margin: 0px;
  } */
}
.plot-des {
  margin: 20px;
  background: white;
  height: 77px;
  border-radius: 9px;
}
.row-start{
  margin-bottom: 40px;
  margin-top: 40px;

  h2{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
.row-start span{
  color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
letter-spacing: -0.28px;
/* margin-left: 2px; */

}
.buildlogo{
  font-size: 18px;
  color: #7A5933;
  

}
.card h2{
  
  padding-bottom: 20px;
  padding-left: 5px;
  color: white;
}