.Header {
  display: flex;

  padding: 0px 20px;

  height: 10vh;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgba(195, 212, 233, 0.4);
  background: var(--Primary-0, #fff); */
  border: 1px solid rgba(195, 212, 233, 0.4);

  background: #f4b266;
}
.logo {
  cursor: pointer;
}
.Nav-links a {
  /* color: red; */
  color: white;
  padding: 0px 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}
.login button {
  background: #a4243b;
  color: white;
}
.login button:hover {
  background: #a4243b;
  color: white;
}
