.head-home {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #fff;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0px;
  height: 100px;

  box-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.Hero {
  background: #fff;

  padding: 30px;
  text-align: left;
  display: flex;
  justify-content: space-between;

  margin-top: 100px;
  /* height: calc(100vh - 100px); */
}
.Hero-content {
  width: calc(100vw - 500px);
  padding: 30px;
}
.cta {
  background: #f4b266;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.cta button {
  background: none;
  padding: 10px;
  width: 10vw;
}
.cta button:hover {
  background: #a4243b;
  border-radius: 25px;
}
.hero-img img {
  width: 100%;
}
.Hero h1 {
  margin-top: 30px;
  font-size: 4rem;
  margin-left: 2%;
}
.Hero h1 > strong {
  color: #a4243b;
}
.Hero p {
  font-size: 18px;
    width: 75%;
  margin-left: 2%;
  margin-top: 20px;
}
.Hero button {
  background: #f4b266;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
  width: 15vw;
}
.Hero button:hover {
  background: #a4243b;
}
.log-in-home {
  background: #fff !important;
  color: #000 !important;
  margin-left: 20px;
  border: 1px solid #000;
}
.hero-img {
  margin: 40px 0px;
}
.team-works {
  text-align: center;
  margin-top: 150px;
}
.team-works > h3 {
  font-size: 4rem;
  color: #000;
}
.logos-slider {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 30px;
}
.logos-slider img {
  width: 200px;
}
.marketing-components {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 120px 50px;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
}
.market-typo{
    width: 50%;
}
.market-typo > h2 {
  font-size: 3rem;
  color: #000;
}
.market-typo span {
  font-size: 19px;
  
}
.market-img{
    border-radius: 20px;
}
.market-img img {
  width: 500px;
  border-radius: 25px;
}
.our-works {
  text-align: center;
  margin-top: 50px;
}
.our-works > h1 {
  font-size: 3rem;
}
.our-works > span {
  font-size: 24px;
}
.flex-cards {
  width: 400px;
  background: url("../../Assets/hero.jpg");
  height: auto;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin-top: 30px;
}
.cars-mid-section {
  padding: 10px 10px 10px 10px;
  margin: 200px 20px 20px 20px;
  background: #fff;
  border-radius: 10px;
}
.cards-offer {
  display: flex;
  justify-content: space-evenly;
}
.social-links {
  text-align: center;
  padding: 0px 50px;
}
.social-links i {
  gap: 40px;
  padding: 20px;
  font-size: 2rem;
}
@media (max-width: 728px) {
    .Hero{
        flex-direction: column;
        text-align: center;
        height: auto;
    }    
    .Hero-content{
        width: auto;
    }
    .Hero h1{
        font-size: 2.5rem;
      
    }
    .Hero P{
        width: auto;
    }
    .Hero button{
        width: auto;
    }
    .cta button{
        width: auto;
    }
    .team-works h3{
        font-size: 3rem;
    }
    .logos-slider{
        margin: 60px 10px;
    }
    .marketing-components{
        flex-direction: column;
        margin: 80px 30px;
    }
    .market-typo{
        width: auto;
        margin-top: 20px;
    }

    .market-img img{
        width: 300px;
        margin-top: 20px;
    }
    .logos-slider img {
      width: 150px;
    }
}
