/* ErrorPage.css */
.containerE {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #f4b266;
    margin: 30px;
    border-radius: 10px;
  }
  .containerE> img{
    width: 20%;
  }
  
  .error-code {
    font-size: 4em;
    margin: 10px 0px;
  }
  
  .error-message {
    font-size: 3em;
  }
  